body
{
    background-color:gray;
}

/* 1276* 392 */

#centerdiv
{
    width: 276px;
    margin-left: 500px;
    margin-right: 700px;
    background-color: rgb(51, 50, 50);
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 78px;
}
.screen{
    width: 220px;
    padding:10px;
    margin-top:40px;
    margin-bottom: 30px;
    margin-left: 20px;
    text-align: right;
    background-color:white;
    font-size: 30px;
    border:none;
    border-radius:10px;
    color: black
}

#numbers1
{
    margin-right: -10px;
}
.nums
{
    padding:10px;
    width:100px;
    font-size: 20px;
    background-color:rgb(102, 98, 98);
    color: white;
    border-color: rgb(51, 50, 50);
    border-radius:10px;
}

#clear
{
    padding:10px;
    width:300px;
    font-size: 20px;
    background-color: rgb(194, 75, 6);
    color: white;
    border-color: rgb(51, 50, 50);
    border-radius:10px;
    /* margin-bottom: 10px; */
}
.oprations-style
{
    padding:10px;
    width:100px;
    font-size: 20px;
    background-color: black;
    color: white;
    border-color: rgb(51, 50, 50);
    border-radius:10px;
}
.div
{
    display:flex;
    margin-left: 30px;
    margin-right: 30px;
}

